
label.radiobutton__label input.radio-input {
  display: none;
}
label.radiobutton__label input.radio-input:checked + span {
  background-color: var(--accent);
}
label.radiobutton__label input.radio-input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em var(--primary-color);
}
label.radiobutton__label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 6px;
  color: var(--dark);
  transition: 0.25s ease;
}
label.radiobutton__label span:hover {
  background-color: var(--accent);
  cursor: pointer;
}
label.radiobutton__label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: var(--light);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em var(--primary-color);
} 

.disabled label.radiobutton__label span {
  opacity: .6;
  cursor: context-menu;
}