.text__field {
  padding-top: 10px;
}

.text__field label
{
  display: block;
  width: 100%;
  background-color: var(--accent);
  border-radius: 5px;
  padding: .5em 2em;
  position: relative;
  box-sizing: border-box;
}

.text__field label input, textarea.form-content {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--ligth);
  outline: none;
}

.text__field label span {
  color: var(--primary-dark);
  position: absolute;
  top: .5em;
  left: 2.5em;
  transition: all .2s ease-in-out;
}

/* focus*/

.text__field label.focus {
  border-bottom: 2px solid var(--primary-color);
}

.text__field label span.focus {
  border-color: var(--primary-color);
}

/* Top */

.text__field label span.top {
  left: 1em;
  top: -10px;
  font-size: 12px;
  background-color: var(--light);
  padding: 0 10px;
}

textarea.form-content {
  max-height: 150px;
  min-height: 150px;
  max-width: 100%;
  min-width: 100%;
}
