.navigationBottom_container {
  position: fixed;
  bottom: 15px;
  width: 100%;
  background-color: var(--light);
  box-shadow: 0 5px 15px 0 var(--shadow);
  z-index: 10000;
  border-radius: 10px;
  color: var(--dark);
}

.navigationBottom_container_content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.navigationBottom_container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.navigationBottom_container__item:active,
.navigationBottom_container__item.active {
  border-radius: 50px;
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--accent);
}

.navigationBottom_container__item p {
  font-size: 12px;
}